.alert {
  position: fixed;
  top: 4rem;
  left: 92%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 0.9rem;
  z-index: 9999;
  white-space: nowrap;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

@media (max-width: 480px) {
  .alert {
    position: relative;
    top: 1rem;
    left: 0%;
    transform: none;
  }

  .lang {
    position: relative;
    left: 7rem;
  }
}

@media (max-width: 320px) {
  .alert {
    position: relative;
    top: 3rem;
    left: 0;
    transform: none;
    margin-top: 0.5rem;
    white-space: normal;
    width: 100%;
    text-align: center;
  }
}
